.button {
  border: 0;
  border-radius: var(--spacing-50);
  background-color: var(--color-primary-500);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: var(--font-family-bold);
  min-height: 4rem;
  padding-inline: var(--spacing-200);
  letter-spacing: 0.02ch;
  transition: background-color var(--duration-mid) var(--easing-1), transform var(--duration-short) var(--easing-1);
}

.button:hover {
  background-color: var(--color-primary-600);
}

.button:active {
  transform: translateY(.2rem);
}