.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.input {
  --color-shadow-1: transparent;
  --color-shadow-2: transparent;
  --color-background: var(--color-neutral-50);
  --color-border: var(--color-neutral-400);
  border: 1px solid var(--color-border);
  border-radius: var(--spacing-100);
  background-color: var(--color-background);
  padding: var(--spacing-50) var(--spacing-100);
  box-shadow:
    0 0 0 .1rem var(--color-shadow-1), 0 0 .8rem -.1rem var(--color-shadow-2);
  transition: background-color var(--duration-short) ease;
}

.input:is(:focus, :focus-visible) {
  --color-shadow-1: var(--color-primary-500);
  --color-shadow-2: var(--color-primary-300);
  border-color: var(--color-primary-500);
}

.input:not(:focus, :focus-visible):hover {
  --color-background: var(--color-neutral-100);
}