/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,::after,::before{box-sizing:border-box}*{margin:0}body,html{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}#__next,#root{isolation:isolate}

/**
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/

@font-face {
  font-family: 'Satoshi-Light';
  src: url('./assets/fonts/Satoshi-Light.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Light.woff') format('woff'),
       url('./assets/fonts/Satoshi-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('./assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-LightItalic.woff') format('woff'),
       url('./assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Regular.woff') format('woff'),
       url('./assets/fonts/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Italic';
  src: url('./assets/fonts/Satoshi-Italic.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Italic.woff') format('woff'),
       url('./assets/fonts/Satoshi-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Medium.woff') format('woff'),
       url('./assets/fonts/Satoshi-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('./assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('./assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Bold.woff') format('woff'),
       url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('./assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('./assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('./assets/fonts/Satoshi-Black.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Black.woff') format('woff'),
       url('./assets/fonts/Satoshi-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('./assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
       url('./assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: italic;
}

/* Root */

:root {
  --debug: 0;

  --spacing-50: .4rem;
  --spacing-100: .8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4.0rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-800: 6.4rem;

  --font-size-root: 1rem;
  --font-size-scale: 1.333;
  --font-size-h5: calc(var(--font-size-root) * var(--font-size-scale));
  --font-size-h4: calc(var(--font-size-h5) * var(--font-size-scale));
  --font-size-h3: calc(var(--font-size-h4) * var(--font-size-scale));
  --font-size-h2: calc(var(--font-size-h3) * var(--font-size-scale));
  --font-size-h1: calc(var(--font-size-h2) * var(--font-size-scale));
  --font-size-h0: calc(var(--font-size-h1) * var(--font-size-scale));

  --color-primary-100: #EFFCF0;
  --color-primary-300: #CCEFD3;
  --color-primary-500: #99CBAE;
  --color-primary-700: #4D9277;
  --color-primary-900: #1D6155;

  --color-neutral-100: #f5f5f5;
  --color-neutral-300: #e0e0e0;
  --color-neutral-500: #9e9e9e;
  --color-neutral-700: #616161;
  --color-neutral-900: #212121;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

body {
  font-family: "Satoshi-Medium",
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  color: var(--color-neutral-900);
}

#root {
  height: 100%;
}

/* General Styles */

*,
*:before,
*:after {
  outline: calc(var(--debug) * 1px) dotted red;
}

small {
  font-size: 1.2rem;
  letter-spacing: 0.05ch;
  color: var(--color-neutral-700);
}
